.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.moviesListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movieCard {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 80vh;
  width: 30vw;
  margin: 1vw;
}

.actorCardsWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 120vmin;
}

.actorCard {
  height: 15vmin;
  width: 25vmin;
  margin: 1vmin;
}